# Default
.Rproj.user
.Rhistory
.RData
.Ruserdata

#
.DS_Store

# Output data
*.log
*.bed
*.pdf
*.png
*.jpeg
*.tiff
*.html
*.jpg
*.csv
*.xlsx
*.txt
*.rds
*.gz

# Rmd and pptx
*.pptx

# Example code in progress
*-Ex.R
*-Ex.Rmd
*-Ex.sh